<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piłka nożna</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class = "header">
        <h1>Piłka nożna</h1>

    </header>

    <nav>
        <div class = "navPanel">
            <a href = "#begginings">Początki futbolu</a>
            <a href = "#rules">Podstawowe reguły gry</a>
            <a href = "#gameranks">Poziomy rozgrywkowe</a>
            <a href = "#stadiums">Słynne stadiony</a>
            <a href = "#video">Wprowadzenie piłki do gry</a>
            <a href = "#minigame">Prosta gra</a>
            <a href = "/login"> <%= loginButtonValue %></a>
        </div>
    </nav>

    <div id = "begginings">
        <header>
            <h2>Początki futbolu</h2>
        </header>
        <br/>
        <article>
            <p> 
                Początków tej dyscypliny, jak i innych odmian futbolu, 
                można doszukiwać się w występujących w różnych cywilizacjach grach z piłką. 
                Najstarsze wzmianki o zabawach i grach przypominających grę w piłkę pochodzą ze starożytnych 
                Chin, Japonii, Grecji i Rzymu. 
                Na Wyspach Brytyjskich zwyczaj ten jest nieznanego pochodzenia. 
                Mógł dotrzeć z Celtami, Rzymianami, Duńczykami, czy Normanami. 
                Można prześledzić niesłabnącą popularność futbolu ludowego od najstarszej znanej 
                notatki sporządzonej między 1174 a 1183.
            </p>
        </article>
        <header>
            <h3>Dalszy rozwój</h3>
        </header>
        <article>
            <p> 
                W XIX wieku Wielka Brytania była centrum rewolucji przemysłowej, 
                co doprowadziło do znaczących zmian cywilizacyjnych. 
                Granie w piłkę przenoszono z miast na podmiejskie łąki, doprowadzono do spisania pierwszych reguł. 
                Prym wiodły szkoły publiczne, które uznały, że gry ruchowe mogą pozytywnie wpłynąć na rozwój i dyscyplinę 
                młodzieży. Powstanie kolei sprawiło, że szkoły mogły dużo łatwiej rywalizować ze sobą. 
                Problemem był jednak brak wspólnych zasad gry. Reguły - zazwyczaj nieliczne - ustalano tuż przed meczem. 
                Najstarsze znane zasady gry spisano w 1845 w Rugby School w środkowej Anglii.
            </p>
            <p>
                Kluczowe dla rozwoju piłki nożnej okazały się reguły spisane w Cambridge w 1848 i w Sheffield w 1857. 
                Od tego momentu można mówić o stopniowym oddzielaniu się piłki nożnej od rugby. 
                Wówczas narastał też konflikt między zwolennikami i przeciwnikami grania ręką.
            </p>
            <p>
                Reguły Cambridge spisano po spotkaniu 12 klubów. Wyróżniały się tym, że ograniczały możliwość 
                trzymania piłki w ręku i faworyzowały jej kopanie. Reguły Cambridge nie zostały szeroko przyjęte 
                w Anglii, ale stały się podstawą dla pierwszych zasad The Football Association w 1863.
            </p>
        </article>

    </div>
    <div id = "rules">
        <header>
            <h2>Podstawowe reguły gry</h2>
        </header>
        <article>
            <p>
                Mecze rozgrywane są na polu gry wyznaczonym w postaci prostokąta o szerokości od 45 do 90 m 
                i długości od 90 do 120 m (przy jednoczesnym zastrzeżeniu, że boisko nie może być kwadratem, 
                a dla meczów międzynarodowych od marca 2008 FIFA ustanowiła wymiary boisk 105m x 68m).
            </p>
            <p>
                Dwie krótsze linie nazywają się liniami końcowymi przy czym odcinek między słupkami 
                - linią bramkową, natomiast dwie dłuższe - liniami bocznymi.
            </p>
            <p>
                Na liniach końcowych ustawione są bramki o wymiarach 7,32m szerokości i 2,44m wysokości licząc do wewnętrznych stron
                słupków i poprzeczki.
            </p>
            <p>
                Pełny skład drużyny liczy 11 zawodników, w tym bramkarz. Drużyna może również wyznaczyć maksymalnie 
                do 7 zawodników rezerwowych (w rozgrywkach międzynarodowych rangi mistrzowskiej do 12). 
                Personalia wszystkich zawodników muszą być wpisane do sprawozdania sędziowskiego, które musi być 
                dostarczone do sędziego przed rozpoczęciem zawodów. W trakcie spotkania drużyna może dokonywać 
                wymian zawodników, których liczba zależy od regulaminu danych rozgrywek. Zawodnik wymieniony 
                zazwyczaj nie może znaleźć się ponownie na placu gry.
            </p>
            <p>
                W przypadku róznego rodzaju przewinień, które może popełnić gracz jednej z drużyn, druga z nich
                otrzymuje rekompensatę w postaci rzutu wolnego, czyli możliwości wprowadzenia piłki stojącej do gry
                w sposób niezakłócony przez drugą z drużyn. Szczególnym przypadkiem rzutu wolnego jest rzut karny,
                który przyznawany jest po faulu (lub innym nieprzepisowym zagraniu) przez zawodnika drużyny przeciwnej
                w polu karnym tej drużyny i wykonywany jest ze specjalnego punktu odsuniętego od środka bramki o 11m wgłąb boiska.
            </p>
            <p>
                W zależności od rangi zawodów, przepisów najczęściej pilnuje:
            </p>
            <ul>
                <li>1 arbiter główny oraz 2 bocznych</li>
                <li>arbiter techniczny - sygnalizujący zmiany oraz czas przedłużenia gry</li>
                <li>zespół VAR, którego zadaniem jest analiza spornych sytuacji (tylko niektóre rozgrywki)</li>
            </ul>
        </article>
    </div>
    <div id = "gameranks">
        <header>
            <h2>Poziomy rozgrywkowe</h2>
        </header>
        <article>
            <p>
                Piłka nożna jest od wielu lat najpopularniejszą dyscypliną sportową w wielu krajach i 
                ma najbardziej rozbudowane rozgrywki w skali świata. Zasadniczo zawody odbywają się w 
                dwóch systemach: ligowym (tzw. każdy z każdym) oraz pucharowym. Ten pierwszy polega na 
                rozegraniu przez każdą parę zespołów określonej w regulaminie liczby meczów (najczęściej 2) 
                w sezonie i wyłonieniu zwycięzcy (za wygraną przyznaje się przeważnie 3 punkty, kiedyś 2), 
                za remis rywale dostają po 1 punkcie, zaś za porażkę 0 punktów. Zwycięża zespół, który uzyska 
                najwięcej punktów, a w dalszej kolejności decydują mecze bezpośrednie, następnie bilans bramek, 
                a na końcu liczba strzelonych bramek. W systemie pucharowym rozgrywa się mecze tylko między 
                rozlosowanymi w pary zespołami, przy czym do dalszej rundy przechodzi (awansuje) zespół, który 
                okaże się lepszy w bezpośredniej rywalizacji. Istnieją również systemy mieszane. Na przykład 
                podczas mistrzostw świata I faza turnieju rozgrywana jest w grupach, w każdej z nich systemem 
                ligowym („każdy z każdym”), natomiast począwszy od II fazy (od 1/8 finału aż do finału) drużyny 
                grają między sobą systemem pucharowym.
            </p>
        </article>
    </div>
    <div id = "stadiums">
        <header>
            <h2>Najsłynniejsze stadiony</h2>
        </header>
        <article>
            <h3>Wembley</h3>
            <div class="image-row">
                <div>
                    <img src="/images/wembley_outside.jpg" alt="Wembley z zewnątrz" width="490" height="350">
                </div>
                <div>
                    <img src="/images/wembley_inside.jpeg" alt="Wembley wewnątrz" width="490" height="350">
                </div>
            </div>
            <h3>Camp Nou</h3>
            <div class="image-row">
                <div>
                    <img src="/images/camp_nou_outside.jpg" alt="Camp Nou z zewnątrz" width="490" height="350">
                </div>
                <div>
                    <img src="/images/camp_nou_inside.jpg" alt="Camp Nou wewnątrz" width="490" height="350">
                </div>
            </div>    
            <h3>San Siro</h3>
            <div class="image-row">
                <div>
                    <img src="/images/san_siro_outside.jpg" alt="San Siro z zewnątrz" width="490" height="350">
                </div>
                <div>
                    <img src="/images/san_siro_inside.jpg" alt="San Siro wewnątrz" width="490" height="350">
                </div>
            </div>
        </article>
    </div>
    <div id = "video">
        <header>
            <h2>Wprowadzenie piłki do gry</h2>
        </header>
        <article>
            <p>
                Jednym z najważniejszych aspektów meczu piłki nożnej jest wprowadzenie piłki do gry przez bramkarza.
                Jest ono wymagane kiedy piłka opuści boisko poza linię końcową po odbiciu się od zawodnika drużyny przeciwnej.
                Nie jest zabronione rozegranie go "na krótko", jednak najczęściej polega ono na dalekim wybiciu piłki, 
                bardzo często aż na połowę przeciwnika.
            </p>
            <p>
                Taki właśnie sposób wprowadzenia piłki do gry można zobaczyć na filmiku poniżej.
            </p>
            <figure>
                <div class="center">
                    <video width = "711" controls>
                        <source src = "/videos/goal_kick.mp4" type = "video/mp4">
                    </video>
                  </div>
            </figure>            
        </article>
    </div>
    <br/>
    <div id = "minigame">
        <header>
            <h2>Symulator wybicia piłki</h2>
        </header>
        <p>

            W poniższej grze możemy poczuć się jak prawdziwy bramkarz i sami spróbować swoich sił
            przy wybiciu piłki z przysłowiowej "piątki". Wykorzystując poniższe suwaki możemy ustawić wartości 
            siły uderzenia oraz kąt, pod którym uderzymy piłkę oraz sprawdzić na jaką odległość poszybuje piłka.            
        </p>
        <p>
            Obserwowane zjawisko to rzut ukośny, w którym wektor prędkości rozkładany jest na dwie składowe - poziomą x 
            oraz pionową y. Do przybliżenia trajektorii piłki wykorzystywane są wspomniane wektory prędkości, dzięki 
            którym można obliczyć jej położenie w danym czasie. Dla uproszczenia zakładamy, że na piłkę nie działają siły 
            oporu powietrza, czyli jest punktem materialnym, na który działa średnie przyspieszenie ziemskie o wartości
            g = 9.81 m/s<sup>2</sup>.
        </p>
    </div>
    <form action = "/" method="post">
        <div id = "parameters">
            <br />
            <div id="angles">
                <p>
                    Kąt (zakres 30 - 70 stopni)
                </p>
                <input name = "angle" type = "range" min = "30" max = "70" value = "45" id = "angle" class = "slider">
            </div>
            <br />
            <div id = "speeds">
                <p>
                    Predkosc (zakres 40 km/h - 160 km/h):
                </p>
                <input name = "speed" type = "range" min = "40" max = "160" value = "70" id = "speed" class = "slider">
            </div>
            <br />
            <div id = "grajButton" style = "text-align: center;">
                <input type = "button" id = "draw" value = "Graj" onclick = "createCanvas()">
                <a href = "/allAttempts" id = "results">Wszystkie próby</a>
            </div>
        </div>
            <br>
            <div id = "game-running" name = "minigame"></div>
            <br/>
            <div id = "game-end"></div>     
    </form>
<script src="/js/main.js"></script>
</body>
</html>